---
title: Home
projects:
-
 image: 'hannah.jpg'
 title: 'hannah'
 description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, quae unde sequi sed fugit iure suscipit itaque laboriosam ipsa nam nesciunt corporis nobis repellat excepturi pariatur veritatis aut iusto qui!'
-
 image: 'stainboy.jpg'
 title: 'stain boy'
 url: "#"
 description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, quae unde sequi sed fugit iure suscipit itaque laboriosam ipsa nam nesciunt corporis nobis repellat excepturi pariatur veritatis aut iusto qui!'
-
 image: 'thelettere.jpg'
 title: 'the letter E'
 description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, quae unde sequi sed fugit iure suscipit itaque laboriosam ipsa nam nesciunt corporis nobis repellat excepturi pariatur veritatis aut iusto qui!'
-
 image: 'tree.jpg'
 title: 'tree'
 description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, quae unde sequi sed fugit iure suscipit itaque laboriosam ipsa nam nesciunt corporis nobis repellat excepturi pariatur veritatis aut iusto qui!'
---
<section id="intro">
  <p>My name is Alyssa Kathryn. I'm a designer and barista with a love of letters, giraffes, and going outside. I do hand lettering and illustration.</p>
  <footer>
    <a class="nav-next smooth" href="#projects">projects</a>
  </footer>
</section>
<section id="projects">
  {{!-- {{> projects }} --}}
{{#each projects}}
  <article class="project">
    {{#if url}}
      <a href="{{url}}" class="project--info">
        <strong class="project--title">{{title}}</strong>
        <p>{{description}}</p>
      </a>
    {{else}}
      <div class="project--info">
        <strong class="project--title">{{title}}</strong>
        <p>{{description}}</p>
      </div>
    {{/if}}
    <img src="projects/{{image}}" alt="" />
  </article>
{{/each}}

</section>
<section id="contact">
  <ul class="social" id="social">
    <li class="linkedin">
      <a href="http://www.linkedin.com/profile/view?id=225078617">LinkedIn</a>
    </li>
    <li class="instagram">
      <a href="http://instagram.com/_alyssakathryn">Instagram</a>
    </li>
    <li class="tumblr">
      <a href="http://alyssakathrynthrelkeld.tumblr.com">Tumblr</a>
    </li>
    <li class="twitter">
      <a href="http://twitter.com/_alyssakathryn">Twitter</a>
    </li>
    <li class="behance">
      <a href="http://behance.net/kathrynthrelkeld">Behance</a>
    </li>
    <li class="facebook">
      <a href="http://facebook.com/alyssathrelkeld">Facebook</a>
    </li>
  </ul>
</section>
