---
title: Home
projects:
-
  image: 'revjoe-menu.jpg'
  title: 'Revielle Joe Menu'
  url: https://www.behance.net/gallery/Reveille-Joe-Menu/14634097
-
  image: '323cards.jpg'
  title: '323 Creative Group Business Cards'
  url: https://www.behance.net/gallery/323-Creative-Group-Business-Cards/14755589
-
  image: 'yardsale.jpg'
  title: 'Community Yard Sale Poster'
  url: https://www.behance.net/gallery/Yard-Sale-Lettering-project/13207607
-
  image: 'letters.jpg'
  title: 'Untitled Lettering'
  url: https://www.behance.net/gallery/Letter-Project/14966113
-
  image: 'kali.jpg'
  title: 'Kalimana Photography Logo'
  url: https://www.behance.net/gallery/Kalimana-Photography-Logo/14725373
-
  image: 'mouth-of-the-south.jpg'
  title: 'Mouth of the South Logo'
  url: https://www.behance.net/gallery/Mouth-of-the-South-Logo/14456127
---
<section id="intro">
  <p>My name is Alyssa Kathryn. I'm a designer and barista with a love of letters, giraffes, and going outside. I do hand lettering and illustration.</p>
  <footer>
    <a class="nav-next smooth" href="#projects">projects</a>
  </footer>
</section>
<section id="projects">
  {{!-- {{> projects }} --}}
{{#each projects}}
  <article class="project">
    {{#if url}}
      <a target="_blank" href="{{url}}" class="project--info">
        <strong class="project--title">{{title}}</strong>
        <p>{{description}}</p>
      </a>
    {{else}}
      <div class="project--info">
        <strong class="project--title">{{title}}</strong>
        <p>{{description}}</p>
      </div>
    {{/if}}
    <img src="projects/{{image}}" alt="" />
  </article>
{{/each}}

</section>
<section id="contact">
  <ul class="social" id="social">
    <li class="linkedin">
      <a href="http://www.linkedin.com/profile/view?id=225078617">LinkedIn</a>
    </li>
    <li class="instagram">
      <a href="http://instagram.com/_alyssakathryn">Instagram</a>
    </li>
    <li class="tumblr">
      <a href="http://alyssakathrynthrelkeld.tumblr.com">Tumblr</a>
    </li>
    <li class="twitter">
      <a href="http://twitter.com/_alyssakathryn">Twitter</a>
    </li>
    <li class="behance">
      <a href="http://behance.net/kathrynthrelkeld">Behance</a>
    </li>
    <li class="facebook">
      <a href="http://facebook.com/alyssathrelkeld">Facebook</a>
    </li>
  </ul>
</section>
